.exper-head{
    position: relative;
    display: inline;
    text-align: center;
    line-height: 100px;
}
.exper-head::after{
    position: absolute;
    bottom: 0%;
    content: '';
    height: 2px;
    margin: auto 0;
    background: #4ade80;
    top: 65%;
    width: 60%;
    left: 25%;
}
.work-link li{
    list-style-type:initial;
    padding: 1px 0;
}
.work-link li::marker{
    content: '⚡';
}