body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    font-family: "Montserrat", sans-serif;
}

/* text-[#61a796] ---olive green */
.home {
    height: calc(100vh + 63px);
}

@media screen and (max-width:768px) {
    .greetings {
        width: calc(100vw - 50px);
    }
}