.project-wrapper{
    min-height: (100vh - 63px);
}
.project-head{
    line-height: 65px;
    position: relative;
    display: inline-block;
}
.project-head::after{
    position: absolute;
    bottom: 0%;
    content: '';
    height: 2px;
    margin: auto 0;
    background: #4ade80;
    top: 65%;
    width: 80%;
    left: 15%;
}
.proj-holder{
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
}
@media screen and (max-width:768px){
    .proj-holder{
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }
}
.card:hover .card-subtitle{
   color: #61a796;
}
.show-more{
    display: none;
}