@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading {
        @apply inline-block relative after:absolute after:bottom-0 after:content-[""] after:h-[2px] after:my-auto after:mx-0 after:bg-green-400 after:top-12 after:left-0 after:w-full text-center md:text-3xl text-xl text-white uppercase;

    }

    .container-home {
        @apply relative w-full flex justify-center items-center z-[1000] flex-col text-center;
    }

    .header {
        @apply w-full py-5 bg-[#23252a] z-20 border-b-4 border-green-400;
    }

    .header-ul {
        @apply w-full lg:flex block justify-evenly items-center uppercase text-left lg:text-center bg-[#23252a] top-20 lg:top-0 left-0 overflow-y-hidden transition-all;
    }

    .header-li {
        @apply text-base text-white font-semibold cursor-pointer lg:py-0 py-3 lg:pl-0 pl-10;
    }

    .intro-scroll {
        @apply flex items-center justify-center absolute bottom-40 text-xl rounded-full w-10 h-10 bg-white text-blue-900 hover:text-green-400;
    }

    .about-li {
        @apply marker:content-["⚡"] my-2
    }

    .progress-text {
        @apply bg-green-600 text-white text-xs md:text-base flex items-center justify-center w-20 md:w-32;
    }

    .experience {
        @apply w-full flex justify-center items-center flex-col mx-auto bg-[#272b33] py-10;
    }

    .experience-heading {
        @apply pl-2 py-2 font-semibold inline-block lg:text-3xl text-2xl text-[#39b175];
    }

    .show-btn {
        @apply border-2 border-emerald-600 text-base text-white p-3 rounded-sm my-20 transition-all hover:text-black hover:bg-emerald-500;
    }

    .project-container {
        @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 mt-20 w-full mx-auto lg:px-10 px-3;
    }

    .project-card {
        @apply p-4 cursor-pointer rounded hover:-translate-y-2 transition-all bg-gray-700 w-full min-h-[30vh] flex flex-col justify-evenly;
    }

    .project-title {
        @apply mb-2 text-[#dae1fa] text-lg md:text-2xl font-semibold group-hover:text-[#93f6dd];
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: #272b33;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

/* width */
body::-webkit-scrollbar {
    width: 14px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #23252a;

}

/* Handle */
body::-webkit-scrollbar-thumb {
    background-color: #606071;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 91, 3);
}